/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.json
meilisearch
package-lock.json
package.json
data.ms/VERSION
composer.json
composer.json
composer.json
composer.json
composer.lock
config/scout.php
data.ms/auth/data.mdb
data.ms/auth/lock.mdb
data.ms/data.mdb
data.ms/instance-uid
data.ms/lock.mdb
package-lock.json
package.json
package.json
package-lock.json
composer.lock
composer.json
*.json
package.json
composer.lock
*.json
composer.json
composer.lock
package-lock.json
package.json
